<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        NOM & PRENOM
        <p>{{Mtran?.client.nomClient}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        MONTANT A RECEVOIR
        <p>{{Mtran?.montant}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        TELEPHONE
        <p>{{Mtran?.client.numeroClient}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        DATE D'ENVOIE
        <p>{{Mtran?.dateTransfert}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
