<ion-content>
  <form [formGroup]="cniForm" (ngSubmit)="retrait()">

    <ion-item>
      <ion-label position="stacked">N° NCI</ion-label>
      <ion-input #cniInput required formControlName="cni" [ngClass]="{'is-valid': boo && c.cni.errors}"></ion-input>
    </ion-item>
  <div  *ngIf="c.cni.errors && boo">
    <ng-container>
      <div class="error-message" *ngIf="c.cni.errors.pattern">N°CNI invalide</div>
    </ng-container>
  </div>
  <ion-list *ngIf="Mtransction">
    <ion-item>
      <ion-label>
        NOM & PRENOM
        <p>{{Mtransction.client.nomBeneficiaire}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        MONTANT A RECEVOIR
        <p>{{Mtransction.montant}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        TELEPHONE
        <p>{{Mtransction.client.numeroBeneficiaire}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        DATE D'ENVOIE
        <p>{{Mtransction.dateTransfert |  date:'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
    <br>
    <ion-button expand="block" fill="outline" type="submit" >Retirer</ion-button>
  </form>
</ion-content>
