<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="admin-agence">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="transaction">
        <ion-icon name="time-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="mes-commissions" *ngIf="permission">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="calcule-frais">
        <ion-icon name="calculator-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
