$background:#E5E5E5;
$myBlue:#07AEEF;
ion-card{
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin: 0;
  padding: 0;
  height: 40vh;
  ion-card-header
  {
    text-align: center;
  }
  .footer
  {
    margin: 25% auto;text-align: center;
    border-bottom: 5px solid $myBlue;
    width: 25%;
    font-weight: bold;
  }
}
ion-content{
  background-color: $background;
  .mycontent
  {
    width: 100%;
    margin: 15% auto;
    text-align: center;
  }
  .btnSubmit
  {
    margin: 5% auto;

    ion-button
    {
      height: 7vh;
    }
  }
}



