<ion-header>
  <ion-toolbar>
    <ion-card class="mayCarde">
      <ion-card-header>
        <ion-buttons role="button">
          <ion-icon name="home" size="large" routerLink="/tabs/admin-agence"></ion-icon>
        </ion-buttons>
        <img src="assets/images/Logo%20MONEY%20SA%201.png" alt="moneySa">
      </ion-card-header>
      <div class="footer">
        <ion-item>
          <ion-label slot="start">Mes transactions</ion-label>
          <ion-label>Toutes les transactions</ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
        <ion-label >Users</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label >Type</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label >Du</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label >Au</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <div>
         <ion-label>Date</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col size="3">
        <div>
          <ion-label>Utilisateur</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col size="2">
        <div>
          <ion-label>Type</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col size="3">
        <div>
          <ion-label>Montant</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col size="2">
        <div>
          <ion-label>Frais</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let transac of trans">
      <ion-col size="2">
     {{transac.dateTransfert | date}}
      </ion-col>

      <ion-col size="3">
     {{transac.user?.prenom+' '+transac.user?.nom}}
      </ion-col>

      <ion-col size="2">
       {{transac.type}}
      </ion-col>

      <ion-col size="3">
       {{transac.montant}}
      </ion-col>

      <ion-col size="2">
          {{transac.partEntreprise + transac.partAgenceDepot + transac.partEtat + transac.partAgenceRetrait}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
