
    <ion-content>

      <ion-item>
        <ion-label position="stacked">N°CNI</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nom Beneficiaire</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Numero Beneficiaire</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" fill="outline">Suivant</ion-button>
    </ion-content>

