.myliste{
  ion-icon{
    color:#E56946;
  }
}
ion-content
{
  ion-header
  {
    ion-card
    {
      ion-card-content
      {
        h1
        {
          span{
            float: right;
            color: #3a7be0;
          }
        }
      }
    }
  }
}
