<ion-header>
  <ion-toolbar>
    <ion-card class="mayCarde">
      <ion-card-header>
        <ion-buttons role="button">
          <ion-icon name="home" size="large" routerLink="/tabs/admin-agence"></ion-icon>
        </ion-buttons>
        <img src="assets/images/Logo%20MONEY%20SA%201.png" alt="moneySa">
      </ion-card-header>
      <div class="footer">
        <ion-item>
          <ion-label>Mes transactions</ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>

     <ion-col>
       <div>
         <ion-label>Type</ion-label>
         <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
       </div>
     </ion-col>

      <ion-col>
        <div>
          <ion-label>Du</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label>Au</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <div>
          <ion-label>Date</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label>Type</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label>Montant</ion-label>
          <ion-icon name="caret-down-outline" slot="end" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let Mtrans of transaction">

      <ion-col class="mcol">
        {{Mtrans.dateTransfert | date}}
      </ion-col>

      <ion-col class="mcol">
          {{Mtrans.type}}
      </ion-col>

      <ion-col class="mcol">
          {{'$'+Mtrans.montant}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed"><ion-button>Total</ion-button></ion-label>
          <ion-input readonly [value]="MontantTotal"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
