@-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}
ion-content.background{
  --background: url(../../assets/images/13.jpeg) 0 0/100% 100% no-repeat;
  .center
  {
    -webkit-animation:pulsate-fwd .5s ease-in-out infinite both;animation:pulsate-fwd .5s ease-in-out infinite both;
    .imgI{

      position: absolute;
      width: 262px;
      height: 262px;
      left: 30px;
      top: 220px;
    }

    .logo{
      position: absolute;
      width: 143px;
      height: 109px;
      left: 90px;
      top: 280px;
    }
  }
}

