<ion-header>
  <ion-toolbar>
    <ion-card class="mayCarde">
      <ion-card-header>
        <ion-buttons role="button">
          <ion-icon name="home" size="large" routerLink="/tabs/admin-agence"></ion-icon>
        </ion-buttons>
        <img src="assets/images/Logo%20MONEY%20SA%201.png" alt="moneySa">
      </ion-card-header>
      <div class="footer">
        <ion-item>
          <ion-label>Mes transactions</ion-label>
          <ion-label>Toutes les transactions</ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>
